html{
    scroll-behavior: smooth;

}


body{
 
     background-color: #fdfafa;
     font-family: 'Montserrat', sans-serif;
     width: 100%;
     height: auto;
     margin: 0%;
 }


 nav {
    width: 100%;
    height: 100px;
   
  

  }


  nav ul {
    width: 50%;
    height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  .navli{

    margin: 30px;
    font-size: 17px;
    font-weight: 700;

    
  }  

  .home-button{
      width: 30%;
      height: 100px;
      margin: 0;
      float: left;
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .back{
    width: 100%;
  }


nav a{
    color: #55BB9C;
    text-decoration: none;
  }

nav a.current {
    color: #000000;
    font-weight: bold;
  }


.icon-container{
  display: none;
}






.page-wrapper1{
    width: 100%;
 

}




.landing-page{
 width: 100%;

}




.title-header{
  width: 100%;
  height: 680px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('images/background-home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  padding-bottom: 200px;

}




.title-text{
  width: 1000px;
text-align: center
}


.title{
  width: 650px;

margin: auto;

}



.subhead{
  width: 100%;
  
  font-size: 38px;
  font-weight: bold;
  color: #F0F6F1;
 margin: 0;
 
  line-height: 1.5em;
  letter-spacing: -0.03em;


 
}


.description{
  width: 100%;
  
  font-size: 25px;
  font-weight: 600;
  
 color: #F0F6F1;
 margin: 0;

 line-height: 161.4%;
  letter-spacing: -0.03em;


}

.call-button-container{
  width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
}


.call-button{
  width: 230px;
  height: 70px;
  background-color: #3B8B6C;
  border: none;
  border-radius: 7px;

  display: flex;
    justify-content: center;
    align-items: center;


    font-size: 23px;
    font-weight: 500;
    color: rgb(255, 255, 255);

    margin: 50px;
    margin-top: 30px;
}






.intro-banner-container{
  width: 1300px;


  margin: auto;


}

.intro-banner{
  display: inline-block;
  margin-top: 150px;
  margin-bottom: 150px;
}

.intro-text{
  width: 45%;
 float: left;
 
}

.intro-text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.9em;
  letter-spacing: -0.03em;
}


.intro-image{
  width: 50%;
  float: right;
  
}

.intro-image img{
  width: 470px;
  border-radius: 10px;
}














.right-container{
  width: 100%;

text-align: center;

background-image: url('images/background-home-2.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;

padding-bottom: 150px;

}



.helpful-tips{
  width: 100%;
  text-align: center;
  font-size: 45px;
  
  font-weight: 900;
  padding-top: 100px;
  margin-bottom: 20px;
  color: #ffffff;

  

}



.services-container{
  width: 1324px;

margin: auto;

display: inline-block;



}

.service-box{
    width: 375px;
    height: 350px;
   
    border-radius: 10px;
    
 margin: 25px;


float: left;
background-color: #2c1a00be;


}




.service-header{
   width: 375px;
  position: absolute;
}



.service-header-text{

   
    font-size: 32px;
    font-weight: 600;
   
    color: #201414b7;
    text-align: left;
  
  
    margin-bottom: 10px;
    margin-top: 60px;
    margin-left: 5%;
    line-height: 45px;
   

}





.service-image{
 

 position: absolute;
  z-index: -1;
  border-radius: 10px;

}

.service-image img{
  width: 375px;
  height: 350px;
  margin: 0;
}






.service-description{
  width: 375px;
  height: 165px;



 display: flex;
 justify-content: center;
 align-items: center;

}


.service-description-text{
  width: 90%;
  
  margin: auto;

  font-size: 15px;
  font-weight: 500;
  text-align: left;
  line-height: 30px;
  color: #ffffff;


}



.view-more-button{
  width: 160px;
  height: 50px;
font-size: 16px;
font-weight: 700;
color: #132f3a;
margin: 0;

border-radius: 250px;

    display: flex;
    justify-content: center;
    align-items: center;


    position: relative;
    top: 325px;
    left: 160px;
   
    
}




.service-link{
  text-decoration: none;

}
















.page-wrapper2{
  width: 100%;

  

  display: flex;
  justify-content: center;
  align-items: center;
}






.warnings-container{
  width: 1360px;
  margin: auto; 
                                               
display: inline-block;


}



.warning{
  width: 400px;                 
  float: left;
  margin: 25px;

  box-shadow: 5px 10px 15px #0000002a;
 
}

.warning-image{
 width: 100%;
 border-top-right-radius: 15px;
 border-top-left-radius: 15px;
                             
}



.warning-text{
  width: 100%;
  height: 350px;
  background-color: #ffffff;
 
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}


.warning-title{
  width: 90%;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Laila' , sans-serif;
  
  margin: auto;
 padding-top: 20px;

  margin-bottom: 0px;
}



.warning-message{
  width: 90%;
  height: 200px;

  margin: auto;
  font-size: 17px;
  font-weight: 500;
  
  text-align: left;
line-height: 30px;
}



.readmore-resources-button-container{
  width: 80%;
  position: relative;
  bottom: 0px;
 margin: auto;

}


.readmore-resources-button{
  width: 100%;
  height: 50px;
  background: none;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Laila' , sans-serif;
 

}

.readmore-resources-button:hover{
  background-color: white;
  color: #132f3a;
  cursor: pointer;
  transition: .2s ease-in-out;
}


























.page-wrapper-3{
  width: 100%;
  background-color: #3B8B6C;
text-align: center;
}


.footer-container{
  width: 1300px;
  margin: auto;

  display: inline-block;

  margin-bottom: 100px;
}

.footer-contact{
  width: 50%;

  font-size: 19px;
  font-weight: 500;
  line-height: 1.9em;
  color: #ffffff;
  text-align: left;
 float: left;
}


.footer-service-areas{
width: 50%;
  font-size: 24px;
  font-weight: 500px;
  color: white;

  float: left;
}










/* Responsive section*/ 
